@import '../vendors/normalize.css';


ul{
  list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.App{
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

img{
  width: 100%;
  max-width: 200px;
}