.card__container{
    background-color: lightsteelblue;
    height: 290px;
    border: solid 2px #01b0c7;
    width: 225px;
}

.name__card{
    color: darkslategray;
    font-size: 16px;
    text-decoration: none;
    margin-top: 5px;
    padding: 3px;
}

.specie__card{
    color: darkslategray;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}
.img__container{
    margin-top: 10px;
}

