.app__list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  
}
.character-wrapper {
    border: 1px solid #01b0c7;
    margin: 10px;
    text-align: center;
}