.info_container {
    height: 100vh;
    font-size: 14px;
}
.back {
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

@media all and (min-width:768px) {
    .back {
        margin: auto;
        align-items: center;
        width: 600px;
        text-align: right;
        padding-bottom: 5px;
    }
}
@media all and (min-width:1200px) {
    .back {
        margin: auto;
        align-items: center;
        width: 600px;
        text-align: right;
        padding-bottom: 5px;
    }
}

.detail__container {
    align-items: center;
    text-align: center;
    background-color: lightsteelblue; 
    border: solid 2px #01b0c7;
   
    margin: auto;
    width: 300px;
}

@media all and (min-width:768px) {
    .detail__container {
        text-align: left;
        background-color: lightskyblue;
        display: flex;
        margin: auto;
        align-items: center;
        width: 600px;
        padding: 30px;
    }
}
@media all and (min-width:1200px) {
    .detail__container {
        text-align: left;
        background-color: lightskyblue;
        display: flex;
        margin: auto;
        align-items: center;
        width: 650px;
        padding: 30px;
    }
}

.detail__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media all and (min-width:768px) {
    .detail__content-container {
        width: 25%;
        padding: 20px;
        margin-top: -30%;
        margin-left: 55%;
    }
}
@media all and (min-width:1200px) {
    .detail__content-container  {
        width: 25%;
        padding: 20px;
        margin-top: -23%;
        margin-left: 50%;
    }
}


.detail__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.detail__title {
    color: darkslategray;
    width: 100px;
    font-weight: 600;
}

.detail__list{
    color: darkslategray;
}

.fas {
    padding-left: 5px;
}