.info_container {
    height: 100vh;
    font-size: 14px;
}
.back {
    font-size: 16px;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.detail__container {
    align-items: center;
    text-align: center;
    background-color: lightsteelblue; 
    border: solid 2px #01b0c7;
    margin: auto;
    width: 300px;
}

.detail__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: darkslategray;
}
.detail__image{
    margin-top: 10px;
}

.detail__title {
    color: darkslategray;
    width: 100px;
    font-weight: 700;
}


/* **************************MEDIA QUERIES ********************************** */
@media all and (min-width:768px) {
    .back {
        margin: auto;
        align-items: center;
        width: 600px;
        text-align: right;
        padding-bottom: 5px;
    }
    .detail__container {
        text-align: left;
        background-color:  lightsteelblue;
        display: flex;
        margin: auto;
        align-items: center;
        width: 600px;
        padding: 30px;
    }
    .detail__content-container {
        width: 25%;
        padding: 20px;
        margin-left: 20%;
        align-items: left;
    }
    .detail__list{
        width: 100%;
        margin-left: 50%;
    }
    .detail__list-item{
        width: 100%;
        align-items: flex-start;
    }
    .detail__image{
        width: 200%;
        margin-bottom: 10px;
    }
    .detail__title {
        margin-left: 80%;
        width: 300px;
        text-align: center;
    }
}
@media all and (min-width:1200px) {
    .back {
        margin: auto;
        align-items: center;
        width: 600px;
        text-align: right;
        padding-bottom: 5px;
    }
    .detail__container {
        text-align: left;
        background-color:  lightsteelblue;
        display: flex;
        margin: auto;
        align-items: center;
        width: 650px;
        padding: 30px;
    }
    .detail__content-container  {
        width: 25%;
        padding: 20px;
    }
    .detail__title {
        margin-left: 80%;
        width: 300px;
        text-align: center;
    }
}